<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobilitydetection.hdm.kk104.com.mobilitydetectionlibrary">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="API_KEY" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API_KEY" />
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="API_KEY" />

        <service
            android:name=".services.DetectedActivitiesIntentService"
            android:exported="false" />
        <service
            android:name=".services.ValidationIntentService"
            android:exported="false" />
        <service
            android:name=".services.LocationIntentService"
            android:exported="false" />
        <service
            android:name=".services.ActivityTransitionIntentService"
            android:exported="false" />

        <service
            android:name=".services.GeofenceIntentService"
            android:exported="false" />

        <!--
            <service
            android:name=".services.FenceIntentService"
            android:exported="false" />
        -->

        <service android:name=".services.MobilityDetectionService" />

    </application>

</manifest>
